.exmplo1,
.exemplo7 {
    justify-content: flex-start;
}

.exemplo2,
.exemplo8 {
    justify-content: flex-end;
}

.exemplo3,
.exemplo9 {
    justify-content: center;
}

.exemplo4,
.exemplo10 {
    justify-content: space-between;
}

.exemplo5,
.exemplo6,
.exemplo11,
.exemplo12 {
    justify-content: space-around;
}

.column {
    min-height: 200px;
    flex-direction: column;
}

.flex {
    flex: 1; /* Indica que o conteúdo deve se expandir */
}

.container {
    max-width: 420px;
    margin: 0 auto;
    display: flex;
    border: 1px solid #ccc;
}

.item {
    margin: 5px;
    background-color: DarkSlateBlue;
    color: white;
    text-align: center;
    font-size: 1.5em;
    padding: 0 10px;
}

h1 {
    text-align: center;
    font-size: 1.25em;
    font-weight: normal;
    margin-top: 40px;
}

body {
    font-family: monospace;
    margin: 0px;
}
