body {
    min-height: 300px;
    margin: 0;
}

.container {
    display: grid;
    color: white;
    grid-template-columns: 200px auto;
    grid-template-rows: 70px auto 70px;
    grid-template-areas: "cabecalho cabecalho" "aside main" "rodape rodape";
}

header {
    background-color: darkred;
    grid-area: cabecalho;
}

aside {
    background-color: darkgreen;
    grid-area: aside;
}

main {
    background-color: darkorange;
    grid-area: main;
    height: 200px;
}

footer {
    background-color: darkblue;
    grid-area: rodape;
}
