@media screen and (min-width: 100em) {
    html {
        font-size: 134.5% !important;
    }
}

/* Remover contador de estrlas e fork do github */
.md-source__facts {
    display: none;
}

/* Bloco de código dentro de admonitions */
.md-typeset details code {
    font-size: 1em;
}

/* Bloco do corpo do texto */
.md-typeset {
    text-align: justify;
}

iframe {
    border: 1px solid #e4e4e4;
    height: 500px;
}

.tx-hero {
    text-align: left;
}

/* Iframes */
iframe {
    width: 100%;
    overflow: hidden;
}

iframe body {
    margin: 0;
}

/* Não quebrar linha em bloco de código dentro da tabela */
.md-typeset__table code {
    word-break: keep-all;
}

/* Espaçamento dentro da tabela */
.md-typeset table:not([class]) td {
    padding: 0.9em 0.9em;
}

/* h2 */
.md-typeset h2 {
    margin: 2em 0 0.64em;
    font-size: 1.9em;
}

/* tooltip */
.tooltip {
  display: inline-block;
  border-bottom: 1px dotted #505050e6;
}

.tooltip span {
  visibility: hidden;
  background-color: #505050e6;
  color: #fff;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover span {
  visibility: visible;
}
