body {
    font-family: 'Roboto', sans-serif;
}

/* Remover contador de estrlas e fork do github */
.md-source__facts {
    display: none;
}

/* Bloco de código dentro de admonitions */
.md-typeset details code {
    font-size: 1em;
}

/* Bloco do corpo do texto */
.md-typeset {
    text-align: justify;

}
 
