body {
    font-family: 'Roboto', sans-serif !important;
    color: #242A31;
}

/* Remover contador de estrlas e fork do github */
.md-source__facts {
    display: none;
}

/* Bloco de código dentro de admonitions */
.md-typeset details code {
    font-size: 1em;
}

/* Bloco do corpo do texto */
.md-typeset {
    text-align: justify;
    /* font-size: 0.77rem; */
    line-height: 1.625;
}
 
/* Linha menu direita */
/* .md-sidebar--secondary .md-sidebar__scrollwrap {
    border-left: 1px solid #d7d8de;
} */

.tx-hero {
    text-align: left;
}